*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(243, 203, 210);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 2;
}
.header{
    background: rgb(221, 128, 144);
    color: azure;
    align-items: center;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.logo {
    align-items: start;
    font-size: 30px;
    font-weight: bold;
}
.nav{
    align-items: end;
    display: flex;
    gap: 20px;
}
.nav a{
    padding: 8px 16px;
    border-radius: 6px;
    text-decoration: none;
}
.header a:hover{
    background: pink;
}
@media (max-width : 768){
    .header{
        flex-direction: column;
        gap: 15px
    }
}
.about{
    color : white;
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    border-radius: 12px;
    margin: 40px auto;
    gap: 20px;
}
.zag{
    width: 100%;
    background: pink;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 12px;
}
.icon, 
.text{
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.icon{
    background: pink;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 12px;
}
.text{  
    text-align: center;
    border-radius: 12px;
    background: pink;
}
@media (max-width: 768px) {
    .icon,
    .text {
        width: 100%;
    }
}
.footer{
    background: rgb(221, 128, 144);
    color: white ;
    text-align: center;
    padding: 15px 20px;
}