.container {
  padding: 1px;
}
@media (min-width: 576px) {
  .container {
    padding: 15px;
  }
}
@media (min-width: 768px) {
  .container {
    padding: 20px;
  }
}
@media (min-width: 992px) {
  .container {
    padding: 25px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 30px;
  }
}
